<div>
  <form [formGroup]="qpdhda">
    <h2>Queixa principal</h2>
    <mat-form-field>
      <textarea matInput formControlName="queixa_principal" name="queixa" rows="8" cols="80"></textarea>
    </mat-form-field>
    <h2>História da doença atual</h2>
    <textarea matInput formControlName="historia_doenca_atual" name="historia" rows="8" cols="80"></textarea>
    <div>
      <h3>Adendos</h3>
      <mat-form-field>
        <mat-label>Adendo 1</mat-label>
        <input matInput name="adendo1"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adendo 2</mat-label>
        <input matInput name="adendo2"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adendo 3</mat-label>
        <input matInput name="adendo3"/>
      </mat-form-field>
    </div>
  </form>
</div>
