<div class="container">
 <div class="form-profile">
   <form >
     <label>Nome: </label>
     <input type="text" [(ngModel)]="user.name" name="name" formControlName="name"/>
     <label>email: </label>
     <input type="text" [(ngModel)]="user.email" name="email" formControlName="email"/>
     <label>username: </label>
     <input type="text" [(ngModel)]="user.username" name="username" formControlName="username"/>
     <label>Role: </label>
     <input *ngIf="isAdmin" type="text" [(ngModel)]="user.roles" name="roles"/>
     <input *ngIf="!isAdmin" type="text" [(ngModel)]="user.roles" name="roles"/>
     <label>Password: </label>
     <input type="password" [(ngModel)]="user.password" name="password" formControlName="password"/>
     <label>Confirm Password: </label>
     <input type="password" [(ngModel)]="this.cpass" name="cpass" formControlName="cpass"/>
     <button type="submit" (click)="save()">Save</button>
   </form>
 </div>
  <div class="image-profile">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
  </div>
</div>
