ul.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: cadetblue;
}

li {
  float: left;
  width: 100%;
}

a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}

.dropdown {
  position: relative;
}

.dropdown a {
  background-color: #fff;
  color: #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  .dropdown {
    position: static;
  }

  .dropdown-content {
    display: block;
    width: 100%;
  }
}
