<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>IDEIAS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
<nav class="navbar">
  <a routerLink="/home">IDEIAS</a>
  <div class="menu">
    <a routerLink="/blog" class="">Blog</a>
    <div *ngIf="isLogedIn" class="dropdown">
      <a>Prontuarios</a>
      <ul class="dropdown-content">
        <li><a routerLink="/pediatrico">Pediatrico</a></li>
      </ul>
    </div>
    <a *ngIf="isLogedIn" routerLink="/profile" class="menu-item">Perfil</a>
    <a *ngIf="isLogedIn && isAdmin" routerLink="/configuracoes" class="menu-item">Configurações</a>
    <a routerLink="/logout" *ngIf="isLogedIn" (click)="alert('sair')" class="menu-item">Sair</a>
  </div>
</nav>
</body>
