
<nav class="navbar">
  <a routerLink="/home" class="brand-logo">IDEIAS</a>
  <div class="menu">
    <a routerLink="/blog" class="">Blog</a>
    <div *ngIf="isLogedIn" class="dropdown">
      <a class="dropdown-head">Prontuarios</a>
      <ul class="dropdown-content">
        <li><a routerLink="/ped">Pediatrico</a></li>
      </ul>
    </div>
    <button mat-button >
      <mat-icon fontIcon="dark_mode"></mat-icon>
    </button>
    <a *ngIf="isLogedIn" routerLink="/profile" class="menu-item">Perfil</a>
    <a *ngIf="isLogedIn && isAdmin" routerLink="/configuracoes" class="menu-item">Configurações</a>
    <a routerLink="/logout" *ngIf="isLogedIn" (click)="alert('sair')" class="menu-item">Sair</a>
  </div>
</nav>

