<div class="container">
  <form [formGroup]="pele">
    <mat-form-field class="rash formItem">
      <mat-label>Rash</mat-label>
      <mat-select formControlName="rash">
        <mat-option value="selecione">Selecione</mat-option>
        <mat-option *ngFor="let item of rash" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ictericia formItem">
      <mat-label>Icterícia</mat-label>
      <mat-select formControlName="ictericia">
        <mat-option value="selecione">Selecione</mat-option>
        <mat-option *ngFor="let item of ictericia" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="repeticao formItem">
      <mat-label>Repetição</mat-label>
      <mat-select formControlName="repeticao">
        <mat-option value="selecione">Selecione</mat-option>
        <mat-option value="Sim">Sim</mat-option>
        <mat-option value="Não">Não</mat-option>
        <mat-option value="não avaliado">Não avaliado</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
