.container{
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.obs {
  width: 90%;
  height: 20%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.formItem{
  width: 90%;
  height: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.endereco {
  display: flex;
  flex-direction: column;

}

.formItem input {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0 auto;
  outline: none;
  font-size: 1.2rem;
  padding: 10px;
  box-sizing: border-box;
}

.outras{
  display: flex;
  flex-direction: column;
}

label{
  font-weight: bold;
  font-size: .8rem;
}

input mat-select{
  border-bottom: 2px solid #323232;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.formItem h2 {
  color: #333333;
}

