<div class="container">
  <div class="login-container">
    <form [formGroup]="form" (keydown)="enterSubmit($event)">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          formControlName="username"/>
        <p
          *ngIf="
                    form.controls['username'].invalid &&
                    form.controls['username'].touched
                ">
          Username is required
        </p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"/>
        <p
          *ngIf="
                    form.controls['password'].invalid &&
                    form.controls['password'].touched
                ">
          Password is required
        </p>
      </div>
      <a href="#" id="forgotten">Esqueceu a senha?</a>
      <div>
        <p
          class="login-error-paragraph"
          name="textError"
          style="display: none"></p>
      </div>
      <div class="form-group form-buttons">
        <app-button class="btn btn-primary" [textButton]="'Login'" (click)="doLogin()">Login</app-button>
      </div>
    </form>
  </div>
  <div class="container-right">
    <h6>Plataforma<br><span>IDEIAS</span></h6>
    <p>Informatica no Desenvolvimento da Educação e Saude</p>
  </div>
</div>
