<div class="container">
  <form [formGroup]="gastrointestinal">
    <div class="form-group">
      <mat-form-field class="formItem">
        <mat-label>Nauseas</mat-label>
        <mat-select formControlName="nauseas" id="nauseas" name="nauseas">
          <mat-option value="">Selecione</mat-option>
          <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Vômitos</mat-label>
        <mat-select formControlName="vomitos" id="vomitos" name="vomitos">
          <mat-option value="">Selecione</mat-option>
          <mat-option *ngFor="let opcao of opcoesvomito" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Dor abdominal</mat-label>
        <mat-select formControlName="dorabdominal" id="dorabdominal" name="dorabdominal">
          <mat-option value="">Selecione</mat-option>
          <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Tenesmo</mat-label>
        <mat-select formControlName="tenesmo" id="tenesmo" name="tenesmo">
          <mat-option value="">Selecione</mat-option>
          <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Evacuação</mat-label>
        <mat-select formControlName="evacuacao" id="evacuacao" name="evacuacao">
          <mat-option value="">Selecione</mat-option>
          <mat-option *ngFor="let opcao of evacuacao" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Aspecto das fezes</mat-label>
        <mat-select formControlName="aspectofezes" id="aspectofezes" name="aspectofezes">
          <mat-option value="">Selecione</mat-option>
          <mat-option *ngFor="let opcao of aspecto" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <pre>
    {{gastrointestinal.value | json}}
  </pre>
</div>
