<div class="container">
  <form>
    <div class="urina">
      <h2>Urina</h2>
      <mat-form-field class="formItem">
        <mat-label>Quantidade</mat-label>
        <mat-select formControlName="quantidade">
          <mat-option *ngFor="let opcao of urina.quantidade" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Jato</mat-label>
        <mat-select formControlName="jato">
          <mat-option *ngFor="let opcao of urina.jato" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Cor</mat-label>
        <mat-select formControlName="cor">
          <mat-option *ngFor="let opcao of urina.cor" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Frequencia</mat-label>
        <mat-select formControlName="frequencia">
          <mat-option *ngFor="let opcao of urina.frequencia" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Urgencia</mat-label>
        <mat-select formControlName="urgencia">
          <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="formItem">
      <mat-label>Atividade sexual</mat-label>
      <mat-select formControlName="atividadeSexual">
        <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="formItem">
      <mat-label>Disuria</mat-label>
      <mat-select formControlName="disuria">
        <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="corrimento">
      <h2>Corrimento</h2>
      <mat-checkbox formControlName="presente">Presente</mat-checkbox>
      <mat-form-field class="formItem">
        <mat-label>Cor</mat-label>
        <mat-select formControlName="cor">
          <mat-option *ngFor="let opcao of corrimento.cor" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Odor</mat-label>
        <mat-select formControlName="cor">
          <mat-option *ngFor="let opcao of corrimento.odor" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="genital-feminino">
      <h2>Genital Feminino</h2>
      <mat-form-field class="formItem">
        <mat-label>Corrimento</mat-label>
        <mat-select formControlName="genital">
          <mat-option *ngFor="let opcao of genital_feminino.corrimento_vaginal" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>
</div>
