<div class="container">
  <form [formGroup]="genitourinario">
    <div [formGroup]="urina" class="urina">
      <h2>Urina</h2>
      <mat-form-field class="formItem">
        <mat-label>Quantidade</mat-label>
        <mat-select formControlName="quantidade" id="quantidade" name="quantidade">
          <mat-option *ngFor="let opcao of urinaop.quantidade" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Jato</mat-label>
        <mat-select formControlName="jato" id="jato" name="jato">
          <mat-option *ngFor="let opcao of urinaop.jato" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Cor</mat-label>
        <mat-select formControlName="corurina" id="corurina" name="corurina">
          <mat-option *ngFor="let opcao of urinaop.cor" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Frequencia</mat-label>
        <mat-select formControlName="frequencia" id="frequencia" name="frequencia">
          <mat-option *ngFor="let opcao of urinaop.frequencia" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Urgencia</mat-label>
        <mat-select formControlName="urgencia" id="urgencia" name="urgencia">
          <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="formItem">
      <mat-label>Atividade sexual</mat-label>
      <mat-select formControlName="atividadesexual" id="atividadesexual" name="atividadesexual">
        <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="formItem">
      <mat-label>Disuria</mat-label>
      <mat-select formControlName="disuria" id="disuria" name="disuria">
        <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  class="formItem">
      <mat-label>Corrimento</mat-label>
      <mat-checkbox formControlName="corrimento" id="corrimentopresente" name="corrimentopresente">Presente</mat-checkbox>
    </mat-form-field>
    <div *ngIf="corrimentoPresente" formGroupName="corrimento_vaginal_presente" class="corrimento">
      <h2>Corrimento</h2>
      <mat-form-field class="formItem">
        <mat-label>Cor</mat-label>
        <mat-select formControlName="cor" id="cor" name="cor">
          <mat-option *ngFor="let opcao of corrimento.cor" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Odor</mat-label>
        <mat-select formControlName="odor" id="odor" name="odor">
          <mat-option *ngFor="let opcao of corrimento.odor" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="isFem" [formGroup]="genital_feminino" class="genital-feminino">
      <h2>Genital Feminino</h2>
      <mat-form-field class="corrimento">
        <div class="formItem" >
          <mat-label>corrimento</mat-label>
          <mat-select  formControlName="corrimento" id="" name="">
            <mat-option *ngFor="let opcao of genitalfeminino.corrimento_vaginal" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </div>
        <mat-form-field class="formItem">
          <mat-label>Cor</mat-label>
          <mat-select formControlName="cor">
            <mat-option *ngFor="let opcao of genitalfeminino.corrimento_vaginal_presente.cor" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
          <mat-label>Odor</mat-label>
          <mat-select formControlName="odor">
            <mat-option *ngFor="let opcao of genitalfeminino.corrimento_vaginal_presente.odor" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
          <mat-label>Prurido</mat-label>
          <mat-select formControlName="prurido">
            <mat-option *ngFor="let opcao of genitalfeminino.corrimento_vaginal_presente.prurido" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Telarca</mat-label>
        <mat-select formControlName="telarca">
          <mat-option *ngFor="let opcao of genitalfeminino.telarca" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Pubarca</mat-label>
        <mat-select formControlName="pubarca">
          <mat-option *ngFor="let opcao of genitalfeminino.pubarca" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="historicomenstrual">
        <h2>Historico Menstrual</h2>
        <mat-form-field class="formItem">
          <mat-label>Menstruação</mat-label>
          <mat-select formControlName="menstruacao">
            <mat-option *ngFor="let opcao of genitalfeminino.historico_menstrual.menstruacao" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
          <mat-label>Menarca</mat-label>
          <mat-select formControlName="menarca">
            <mat-option *ngFor="let opcao of genitalfeminino.historico_menstrual.menarca" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
          <mat-label>Regularidade</mat-label>
          <mat-select formControlName="regularidade">
            <mat-option *ngFor="let opcao of genitalfeminino.historico_menstrual.regularidade" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
          <mat-label>Fluxo</mat-label>
          <mat-select formControlName="fluxo">
            <mat-option *ngFor="let opcao of genitalfeminino.historico_menstrual.fuxo" value="{{opcao}}">{{opcao}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="isMasc" [formGroup]="genital_masculino" class="genital-masculino">
      <h2>Genital Masculino</h2>
      <mat-form-field class="formItem">
        <mat-label>Pubarca</mat-label>
        <mat-select formControlName="pubarca">
          <mat-option *ngFor="let opcao of genitalmasculino.pubarca" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Volume testicular</mat-label>
        <mat-select formControlName="volumetesticular">
          <mat-option *ngFor="let opcao of genitalmasculino.volumetesticular" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Tamanho do penis</mat-label>
        <mat-select formControlName="odor">
          <mat-option *ngFor="let opcao of genitalmasculino.tamanhopenis" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-label>Ereção</mat-label>
        <mat-select formControlName="erecao">
          <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="formItem">
        <mat-label>Poluções</mat-label>
        <mat-select formControlName="poluções">
          <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">{{opcao}}</mat-option>
        </mat-select>
      </div>
    </div>
  </form>
  <pre>
    {{genitourinario.parent | json }}
  </pre>
</div>
