<div class="container">
  <form [formGroup]="genitourinario">
    <div formGroupName="urina">
      <h2>Urina</h2>
      <mat-form-field class="formItem">
        <mat-select placeholder="Cor" formControlName="cor">
          <mat-option [value]="">Selecione</mat-option>
          <mat-option *ngFor="let opt of urinaop.quantidade" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-select placeholder="Jato" formControlName="jato">
          <mat-option [value]="">Selecione</mat-option>
          <mat-option *ngFor="let opt of urinaop.jato" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="formItem">
        <mat-select placeholder="Cor" formControlName="cor">
          <mat-option [value]="">Selecione</mat-option>
          <mat-option *ngFor="let opt of urinaop.cor" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <pre>
    {{genitourinario.parent | json }}
  </pre>
</div>
