<div class="container">
    <form>
        <mat-form-field class="formItem">
            <mat-label>Corrimento nasal</mat-label>
            <mat-select formControlName="corrimento">
                <mat-option *ngFor="let corrimento of corrimento_nasal" value="{{corrimento}}">
                    {{corrimento}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
            <mat-label>Sufocação/Tosse durante alimentação</mat-label>
            <mat-select formControlName="corrimento">
                <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">
                    {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
            <mat-label>Epistaxis</mat-label>
            <mat-select formControlName="epistaxis">
                <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">
                    {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
            <mat-label>Epistaxis</mat-label>
            <mat-select formControlName="epistaxis">
                <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">
                    {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="formItem">
            <h2>Tosse</h2>
            <mat-checkbox formControlName="naoavaliado">Não avaliado</mat-checkbox>
            <mat-form-field class="formItem">
                <mat-label>Duração</mat-label>
                <mat-select formControlName="duracao">
                    <mat-option value="menos de 30 dias">
                        Menos de 30 dias
                    </mat-option>
                    <mat-option value="mais de 30 dias">
                        Mais de 30 dias
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="formItem">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                    <mat-option *ngFor="let item of tipo" value="{{item}}">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="formItem">
                <mat-label>Periodo</mat-label>
                <mat-select formControlName="periodo">
                    <mat-option  value="matutina">
                        Matutina
                    </mat-option>
                    <mat-option  value="vespertina">
                        Vespertina
                    </mat-option>
                    <mat-option  value="noturna">
                        Noturna
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field class="formItem">
            <mat-label>Resfriados frequentes</mat-label>
            <mat-select formControlName="resfriados_frequentes">
                <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">
                    {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
            <mat-label>Dor torácica</mat-label>
            <mat-select formControlName="dor_toracica">
                <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">
                    {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
            <mat-label>Dificuldade respiratoria</mat-label>
            <mat-select formControlName="dificuldade_respiratoria">
                <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">
                    {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="formItem">
            <mat-label>Hemoptise</mat-label>
            <mat-select formControlName="hemoptise">
                <mat-option *ngFor="let opcao of opcoes" value="{{opcao}}">
                    {{opcao}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
