<div class="container">
  <form>
    <mat-form-field class="fotofobia formItem">
      <mat-label>Fotofobia</mat-label>
      <mat-select class="fotofobia">
        <mat-option *ngFor="let item of opcoes" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="lacrimejando formItem">
      <mat-label>Lacrimejando</mat-label>
      <mat-select class="lacrimejando">
        <mat-option *ngFor="let item of opcoes" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="edema formItem">
      <mat-label>Edema</mat-label>
      <mat-select class="edema">
        <mat-option *ngFor="let item of opcoes" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="secrecao formItem">
      <mat-label>Secreção</mat-label>
      <mat-select class="secrecao">
        <mat-option *ngFor="let item of opcoes" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="dor formItem">
      <mat-label>Olho esquerdo</mat-label>
      <mat-select class="oe" id="oe">
        <mat-option *ngFor="let item of opcoes" value="{{item}}">{{item}}</mat-option>
      </mat-select>
      <mat-label>Olho direito</mat-label>
      <mat-select class="od" id="od">
        <mat-option *ngFor="let item of opcoes" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="acuidade formItem">
      <mat-label>Acuidade visual</mat-label>
      <mat-select class="acuidade">
        <mat-option value="Selecione">Selecione</mat-option>
        <mat-option  value="teste-olhinho-normal">Teste do olhinho normal</mat-option>
        <mat-option  value="teste-olhinho-anormal">Teste do olhinho anormal</mat-option>
        <mat-option value="cegueira">Cegueira</mat-option>
        <mat-option value="nao-avaliado">Não avaliado</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
