<div class="container">
  <form>
    <div class="fotofobia">
      <select class="fotofobia">
        <option *ngFor="let item of opcoes" value="{{item}}">{{item}}</option>
      </select>
    </div>
    <div class="lacrimejando">
      <select class="lacrimejando">
        <option *ngFor="let item of opcoes" value="{{item}}">{{item}}</option>
      </select>
    </div>
    <div class="edema">
      <select class="edema">
        <option *ngFor="let item of opcoes" value="{{item}}">{{item}}</option>
      </select>
    </div>
    <div class="secrecao">
      <select class="secrecao">
        <option *ngFor="let item of opcoes" value="{{item}}">{{item}}</option>
      </select>
    </div>
    <div class="dor">
      <label for="oe">Olho esquerdo</label>
      <select class="oe" id="oe">
        <option *ngFor="let item of opcoes" value="{{item}}">{{item}}</option>
      </select>
      <label for="od">Olho direito</label>
      <select class="od" id="od">
        <option *ngFor="let item of opcoes" value="{{item}}">{{item}}</option>
      </select>
    </div>
  </form>
</div>
