<form [formGroup]="neoonatal">
  <div>
    <mat-label>Choro Espontâneo</mat-label>
    <mat-checkbox formControlName="choroespontaneo"></mat-checkbox>
  </div>
  <mat-form-field>
    <mat-label>Grau de atividade</mat-label>
    <input matInput formControlName="grauatividade">
  </mat-form-field>
  <div>
    <mat-label>Cianose</mat-label>
    <mat-checkbox formControlName="cianose"></mat-checkbox>
  </div>
  <div>
    <mat-label>Reanimação</mat-label>
    <mat-checkbox formControlName="reanimacao"></mat-checkbox>
  </div>
  <mat-form-field>
    <mat-label>Apgar 1 minuto</mat-label>
    <input matInput formControlName="apgar1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apgar 5 minutos</mat-label>
    <input matInput formControlName="apgar5">
  </mat-form-field>
  <div>
    <mat-label>Icterícia</mat-label>
    <mat-checkbox formControlName="ictericia"></mat-checkbox>
  </div>
  <div>
    <mat-label>Rash</mat-label>
    <mat-checkbox formControlName="rash"></mat-checkbox>
  </div>
  <div>
    <mat-label>Sangramentos</mat-label>
    <mat-checkbox formControlName="sangramentos"></mat-checkbox>
  </div>
  <div>
    <mat-label>Vomitos</mat-label>
    <mat-checkbox formControlName="vomitos"></mat-checkbox>
  </div>
  <div>
    <mat-label>Infecções</mat-label>
    <mat-checkbox formControlName="infeccoes"></mat-checkbox>
  </div>
  <div>
    <mat-label>Anomalias congenitas</mat-label>
    <mat-checkbox formControlName="anomaliascongenitas"></mat-checkbox>
  </div>
  <div>
    <mat-label>Paralisias</mat-label>
    <mat-checkbox formControlName="paralisias"></mat-checkbox>
  </div>
  <div>
    <mat-label>Coriza</mat-label>
    <mat-checkbox formControlName="coriza"></mat-checkbox>
  </div>
  <div>
    <mat-label>Permeabilidade nasal</mat-label>
    <mat-checkbox formControlName="permeabilidadenasal"></mat-checkbox>
  </div>
  <div>
    <mat-label>Convulsões</mat-label>
    <mat-checkbox formControlName="convulsoes"></mat-checkbox>
  </div>
  <div formGroupName="dados_antropometricos">
    <mat-form-field>
      <mat-label>Peso</mat-label>
      <input matInput formControlName="peso">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Comprimento</mat-label>
      <input matInput formControlName="comprimento">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Perímetro cefálico</mat-label>
      <input matInput formControlName="pc">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Perímetro torácico</mat-label>
      <input matInput formControlName="pt">
    </mat-form-field>
  </div>
</form>
